<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

## My Jupyter Notebook in IBM Watson Studio

#### By Zaidan A. Dhman

#### 100% Human

### I am interested in data science because I like to gain insight from data

### the following code tests the Gauss Formula

In [2]:
def guss(n):
    return (n*(n+1))/2

guss(100) == sum(range(101))

True

<ul>
  <li>One</li>
  <li>two</li>
  <li>Three</li>
  <li>One</li>
  <li>two</li>
  <li>Three</li>
</ul>

<table>
  <tr>
    <th>Mark down</th>
    <th>Less</th>
    <th>Pretty</th>
  </tr>
  <tr>
    <td>Still</td>
    <td>Render</td>
    <td>Nicely</td>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
</table>


<a href="www.ibm.com">link text</a>